<h2 mat-dialog-title>¡Gracias por postularte!</h2>
<div mat-dialog-content class="">
  <mat-tab-group>
    <mat-tab label="Usuario">
      <mat-form-field>
        <input matInput placeholder="Nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput  placeholder="Apellido">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Correo">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirmar Contraseña">
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Datos Personales">
      <mat-form-field>
        <input matInput placeholder="RUT">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nacionalidad">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Profesión">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Teléfono">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Dirección"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Región">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Comuna">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Banco">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tipo de Cuenta">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="N° de Cuenta">
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Sobre Ti">
      <mat-form-field>
        <input matInput placeholder="Actividad principal">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Empleado">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Empleador">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="¿Por qué te gustaría ser Ejecutivo PRO Empresas?"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="¿Qué experiencia tienes en productos financieros?"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="¿Por qué Representame.cl, las PYME y las instituciones financieras debería confiar en ti?"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="¿Qué te motiva en la vida?"></textarea>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Adjuntos">

    </mat-tab>
  </mat-tab-group>

</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button mat-dialog-close color="warn" >Registrate</button>
</div>

