<h2 mat-dialog-title>¡Bienvenido!</h2>
<div mat-dialog-content class="input-container">
    <mat-form-field>
        <input matInput placeholder="Email"  [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field>
        <input matInput  placeholder="Contraseña" type="password" [(ngModel)]="password">
    </mat-form-field>
    <div>
        <a mat-button color="primary" href="">Registrate</a>
        <a mat-button color="warn" href="">¿Olvidaste tus datos? Click aquí</a>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button mat-dialog-close color="warn" (click)="login();">Inicia Sesión</button>
</div>

