@import '../node_modules/@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-indigo);
$custom-theme-accent: mat-palette($mat-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-deep-orange);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

$primary: mat-color($custom-theme-primary);
$light-primary: map_get($custom-theme-primary, A200);
$accent: mat-color($custom-theme-accent);
$warn: mat-color($custom-theme-warn);

// Estilos por defecto
* {
  box-sizing: border-box
}

html, body {
  margin: 0;
  padding: 0;
  color: #333;
}

body {
  background-color: #f0f0f0;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}

img {
  height: 100%;
}

// Classes aplicables
.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jutify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.jutify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.jutify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-content-space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

//Estilos específicos
mat-toolbar {
  @extend .justify-content-space-between;
  @extend .flex-wrap;
  height: auto;
}

mat-card {
  padding: 30px;
  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
}

.input-container {
  @extend .flex-item;
  @extend .direction-column;

  * {
    width: 100%;
  }
}

.mat-tab-body-content {
  @extend .input-container
}

.mat-dialog-actions {
  @extend .jutify-content-end;
  button {
    margin-right: 5px;
  }
}

.logo {
  @extend .jutify-content-start;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 35px;
}

.app-show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  @extend .flex-wrap;
  @extend .align-items-center;
  color: white;
  background-color: $primary;
  > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 20px;
    img {
      max-width: 100%;
      height: auto;
    }
    h3 {
      margin-top: 0;
    }
  }
}

.app-beneficios {
  h2 {
    color: $primary;
  }
  .feature {
    @extend .flex-item;
    @extend .flex-wrap;
    flex: 1;
    min-width: 45%;
    margin: 0 10px 20px;
    > div {
      &.icono {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        margin-right: 10px;
        max-width: 100px;
      }
      &.detalle {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        margin-left: 10px;
        h3 {
          color: $accent;
          margin: 0;
        }
      }
    }
    img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
  }
}

.app-entidades {
  background-color: $warn;
  h2 {
    color: white;
  }
  .entidades {
    @extend .flex-item;
    @extend .flex-wrap;
    @extend .justify-content-space-between;
    > div {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      min-width: 130px;
      //max-width: 100px;
      img {
        width: 100%;
      }
    }
  }
}

.app-explicacion {
  h2 {
    color: $primary;
  }
  .datos {
    @extend .flex-item;
    @extend .flex-wrap;
    @extend .justify-content-space-around;
    max-width: 1300px;
    margin: 0 auto;
    > div {
      h3{
        text-align: center;
        color: $primary;
        margin: 0;
      }
      border-radius: 3px;
      padding: 30px;
      background-color: #f0f0f0;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      max-width: 350px;
      > .icon {
        text-align: center;
        > img {
          width: 80%;
        }
      }
    }
  }
}

.app-contacto {
  //background-color: $light-primary;
  background-color: $primary;
  color: white;
  div {
    &.map {
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
      margin-right: 20px;
      iframe {
        width: 100%;
      }
    }
    &.info {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
      margin-left: 20px;
      p > a {
        margin-right: 5px;
      }
    }
  }
}

footer{
  padding: 20px;
  background-color: mat-color($custom-theme-primary, 800);
  @extend .flex-item;
  @extend .jutify-content-center;
  .logo{
    height: 30px;
    text-align: center;
    img{
      height: 100%;
    }
  }
}
// Media Queries
@media only screen and (max-width: 500px) {
  mat-toolbar {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 85px;
  }
  .logo {
    width: 100%;
    text-align: center;
  }
  .buttons {
    margin-bottom: 5px;
  }
  .app-beneficios .feature {
    min-width: 100%;
    text-align: center;
  }
  .app-entidades, .app-explicacion {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .app-show {
    > div {
      min-width: 100%;
      margin: 0;
      text-align: center;
      img {
        max-width: 300px;
        width: 100%;
      }
    }
  }

  .app-beneficios .feature {
    margin: 0 10px;
    > div.icono, div.detalle {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      min-width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .app-contacto {
    div.map, div.info {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      min-width: 100%;
      text-align: center;
      margin: 0;
    }
    div.map {
      height: 300px;
      margin-bottom: 20px;
      iframe {
        max-height: 100%;
      }
    }
  }

}