<mat-toolbar>
  <div class="logo"><img src="assets/img/representame-logo.svg" alt=""></div>
  <div class="buttons">
    <button mat-raised-button color="warn" (click)="dialogInicioSesion()">Iniciar Sesión</button>
  </div>
</mat-toolbar>
<mat-card class="app-show" color="primary">
  <div><img src="assets/img/muestra-app.png" alt=""></div>
  <div>
    <h2>En Representame.cl queremos trabajar contigo</h2>
    <p>Tu puedes ser quien conecte a empresas con instituciones financieras, convierte a las PYMEs en tus clientes,
      ayudalos a obtener opciones de financiamiento justas y transparentes en un "click".</p>
    <button mat-raised-button color="warn" (click)="dialogRegistro()">Conviertete en Ejecutivo PRO Empresa</button>
  </div>
</mat-card>
<mat-card class="app-beneficios">
  <h2>Enterate de los "plus" de trabajar con Nosotros</h2>
  <div class="flex-item flex-wrap justify-content-space-between">
    <div class="feature">
      <div class="icono"><img src="assets/img/feature-1-ganancias.svg" alt=""></div>
      <div class="detalle">
        <h3>El cielo es el límite</h3>
        <p>Más operaciones, más comisiones, más ganancias, en igualdad de condiciones, todos los ejecutivos
          ganan el mismo porcentaje.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icono"><img src="assets/img/feature-2-tiempo.svg" alt=""></div>
      <div class="detalle">
        <h3>Tu tiempo, tus reglas.</h3>
        <p>No rindes cuentas a nadie. Cada ejecutivo maneja su tiempo, clientes y cómo lo hace. Puedes trabajar
          cómo, cuándo y dónde tú quieras.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icono"><img src="assets/img/feature-3-instituciones.svg" alt=""></div>
      <div class="detalle">
        <h3>Múltiples soluciones</h3>
        <p>Apoyándote en nuestras instituciones asociadas podrás encontrar financiamiento adecuado para cada uno
          de tus clientes.</p>
      </div>
    </div>
    <div class="feature">
      <div class="icono"><img src="assets/img/feature-4-tecnologia.svg" alt=""></div>
      <div class="detalle">
        <h3>Al alcance de tu mano</h3>
        <p>Todas las herramientas que necesitas están en nuestra plataforma, no necesitas buscar más.</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button mat-raised-button color="warn" (click)="dialogRegistro()">Se tu propio Jefe</button>
  </div>
</mat-card>
<mat-card class="app-entidades">
  <h2>Cuenta con el apoyo de </h2>
  <div class="entidades">
    <div><img src="/assets/img/instit-addwise.png" alt=""></div>
    <div><img src="/assets/img/instit-cumplo.png" alt=""></div>
    <div><img src="/assets/img/instit-factoring-nacional.png" alt=""></div>
    <div><img src="/assets/img/instit-go-factoring.png" alt=""></div>
    <div><img src="/assets/img/instit-penta-financiero.png" alt=""></div>
    <div><img src="/assets/img/instit-su-factor.png" alt=""></div>
  </div>
</mat-card>

<mat-card class="app-explicacion">
  <h2>Entidades financieras que ofrecen a las PYMEs</h2>
  <div class="datos">
    <div>
      <h3>Leasing</h3>
      <div class="info">
        <div class="icon"><img src="/assets/img/leasing.svg" alt=""></div>
        <p>Es un contrato de arriendo, a plazo, donde el arrendatario cancela cuotas mensuales que en su totalidad amortizan el valor total de los bienes. Se presenta con alternativa de adquirir el bien, cancelando la cuota de opción de compra.</p>
      </div>

    </div>
    <div>
      <h3>Factoring</h3>
      <div class="info">
        <div class="icon"><img src="/assets/img/factoring.svg" alt=""></div></div>
      <p>Es el cese de sus cuentas por cobrar, generando flujo de efectivo y convertiendo sus ventas a plazo en ventas a contado. Delegando además la gestión de cobranzas a un tercero.</p>
    </div>

  </div>
</mat-card>
<mat-card class="app-contacto">
  <h2>¿Tienes dudas?</h2>
  <div class="flex-item flex-wrap justify-content-space-between align-items-center">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.9561683024904!2d-70.62194098553886!3d-33.424387080781386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf61894c7a23%3A0x1c8e740e06539787!2sAntonio+Bellet+444%2C+Providencia%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1528365675499"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="info">
      <h3>¡Veamonos y te explicamos!</h3>
      <p>Estamos en Antonio Bellet 444, Providencia. <br>
        De Lunes a Viernes entre las 9:00 y las 18:00.
      </p>
      <h3>También atendemos por teléfono y correo</h3>
      <p>
        <a mat-stroked-button href="mailto:contacto@representame.cl">Envianos un correo</a>
        <a mat-stroked-button href="tel:+56229430561">Llámanos</a>
      </p>
    </div>
  </div>
</mat-card>
<footer>
    <div class="logo"><img src="assets/img/representame-logo-wt.svg" alt=""></div>
</footer>

